@use '../abstracts/mixins' as *;

.container {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 20px;
}

@include respond-to('380') {
    .container {
        padding: 0 15px;
    }
}
