* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: var(--header-height);

    /* Когда панель бургер-меню закрыта и сдвинута за пределы экрана, она расширяет его и добавляет горизонтальный скролл. */
    overflow-x: clip;
}

html.is-smooth {
    scroll-behavior: smooth;
}
